<h2>Order Form</h2>



<form method = 'POST' action = '/order' class = 'form'>

<div>
<label for="flavour" class="label"> Flavour: </label>
  <select id="flavour" name="flavour_id">
    {{#each flavour}}
    <option value="{{id}}" {{selected}}>{{flavour}}</option>
    {{/each}}
  </select>
</div> <div>
<label for="toppings" class="label"> Toppings: </label>
  <select id="topping" name="topping_id">
    {{#each topping}}
    <option value="{{id}}" {{selected}}>{{topping}}</option>
    {{/each}}
  </select>
</div><div>
<label for="ice" class="label"> Ice: </label>
  <select id="ice" name="ice">
    <option value="{{value}}" {{selected}}>0%</option>
    <option value="{{value}}" {{selected}}>30%</option>
    <option value="{{value}}" {{selected}}>60%</option>
    <option value="{{value}}" {{selected}}>90%</option>
  </select>
</div><div>
<label for="sugar" class="label"> Sugar: </label>
  <select id="sugar" name="sugar">
    <option value="{{value}}" {{selected}}>0%</option>
    <option value="{{value}}" {{selected}}>30%</option>
    <option value="{{value}}" {{selected}}>60%</option>
    <option value="{{value}}" {{selected}}>90%</option>
  </select>
  </div> <div>
  <button>Submit!</button>
  </div>
</form>


<!-- get render to here for form options-->
<!-- remember add css on new branch